<div id="upcoming-content" (window:resize)="onResize()">
  <h4 class="heading">Upcoming</h4>
  <div class="full-carousel">
    <div class="contents-wrap">
      <button [disabled]="offsetUpcomingContent <= limit" class="angle-prev" (click)="prevContent()"><span>prev</span></button>
      <div class="content_box" *ngFor="let item of rangeUpcomingContent">
        <div class="vid_thumb">
          <div [class.spinner]="load">
            <span class="loader"></span>
          </div>
          <a href="javascript:;" (click)="submitVideoOnMainPlayer(upcomingContent[item].id)">
            <img src="{{upcomingContent[item].preview}}" />
          </a>
        </div>
        <div class="vid_info">
          <a href="javascript:;">
            <h5 class="vid_title">{{upcomingContent[item].title}} {{item}}</h5>
            <h6 class="vid_author">{{upcomingContent[item].artist.firstname}} {{upcomingContent[item].artist.lastname}}</h6>
          </a>
        </div>
      </div>
      <button class="angle-next" (click)="nextContent()"><span>next</span></button>
    </div>
  </div>
</div>