.title{
  color: #e9008c;
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 1.3;
}
h6{
  color: #fff;
  padding: 15px 0;
}
.description{
  text-align: left;
  color: #fff;
  margin-bottom: 10px;
}