.agreement-wrapper{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(8, 10, 12, 0.85);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
fieldset{
  overflow: hidden;
  white-space: nowrap;
}
.agreement-content{
  width: 600px;
  background: #fff;
  padding: 10px;
  max-width: 94%;
}
iframe{
  width: 100%;
  height: 300px;
  outline: 1px solid #000;
}
form {
  width: 100%;
  height: 60px;
  padding: 5px 10px;
}
form input{
  display: inline-block;
  float: left;
  margin: 3px 7px 0 0;
}
button {
  float: right;
}
form label{
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin: 0;
}
form p {
  display: inline-block;
  font-size: 14px;
  white-space: normal;
}
@media (max-width: 991px) {
  .agreement-wrapper{
    position: fixed;
  }
}
