.player-wrap{
    width: 100%;
    height: 100%;
    padding-bottom: 140px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 70px;
    padding-bottom: 70px;
}

.control-full-wrap{
    position: relative;
    width: 100%;
    height: 100%; 
}
.player-controls{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s linear, visibility .1s linear .35s;
}
.shared{
  position: absolute;
  left: auto;
  right: 20px;
  top: 20px;
  font-size: 18px;
  cursor: pointer;
  padding: 0px 10px;
}
.volum-control{
  position: absolute;
  top: auto;
  bottom: 33px;
  left: auto;
  right: 33px;
  width: 32px;
  height: 32px;
  display: inline-block;
  float: right;
  cursor: pointer;
  background: url('assets/video/speaker.png')
}
.player-controls  .button-injii{
  float: right;
  font-size: 18px;
  margin: 3px 5px;
}
.player-controls  .button-injii:first-of-type{
  margin-right: 20px;
}
.volum-control.active{
    background: url('assets/video/sound_hover.png');
}
.control-full-wrap:hover > .player-controls{
    transition: opacity .3s linear, visibility step-end;
    visibility: visible;
    opacity: 1;
}
.viewers{
  display: inline-block;
  line-height: 32px;
  color: #fff;
  font-size: 20px;
  margin-left: 30px;
}
.button-start{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  display: inline-block;
  margin-left: -35px;
  margin-top: -35px;
  z-index: 99;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  border: none;
  background-color: transparent;
}
.button-start.playing{
  background-image: url('assets/svg/icons/play-button.svg');
}
.button-start.loading{
  cursor: default;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-left: -25px;
  margin-top: -25px;
  border-radius: 50%;
  border-top: 8px solid rgba(132, 0, 121, 0.2);
  border-right: 8px solid rgba(132, 0, 121, 0.2);
  border-bottom: 8px solid rgba(132, 0, 121, 0.2);
  border-left: 8px solid #840079;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load .6s infinite linear;
  animation: load .6s infinite linear;
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 991px){
  .player-wrap{
      position: relative;
      padding-top: 0;
      padding-bottom: 0;
  }
}