
.activity-filter{
  margin-top: 5px;
  margin-bottom: 10px;
}
.activity-filter h5{
  display: inline-block;
  color: #e2e2e2;
  font-size: 12px;
}
.activity-filter ul{
 display: inline-block;
 font-size: 12px;
}
.activity-filter li{
  display: inline-block;
  position: relative;
  list-style: none;
  margin-left: 14px;
  font-size: 12px;
  padding: 5px 0px;
  color: #fff;
  cursor: pointer;
}
.activity-filter .selected:after{
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  top: auto;
  left: 0;
  bottom: 4px;
  border-radius: 2px;
}
.loading{
  width: 100%;
  position: relative;
  text-align: center;
  margin: 50px 0;
}

