<div class="upcoming-item">
  <div class="title" (click)="showContest(index)">
    <div class="contest-date">
      <span>Start:</span>
      <span class="time">{{contest.start}}</span>
      <span>End:</span>
      <span class="time">{{contest.end}}</span>
    </div>
    <h3>{{contest.title}}</h3>
  </div>
  <p class="descript">{{contest.description}}</p>
  <div class="upcoming-carousel">
    <div class="tab-carousel" #carousel [class.active]="artists.length > 0">
      <div *ngIf="index === showIndex || screenService.screen > 991">
        <ul class="contest-list" #list [ngStyle]="{'width': artists.length * carouselItemWidth + 'px',
                 'transform': 'translate('+carouselService.left+'px, 0)',
                 'transition-duration': carouselService.cssTransition + 's'}">
          <li *ngFor="let artist of artists;">
            <a [routerLink]="['/artists', artist.username]">
              <div class="thumb" [ngStyle]="{'background-image': 'url('+artist.avatar+')'}"></div>
            </a>
            <div class="name">
              <span><a [routerLink]="['/artists', artist.username]">{{artist.firstname}}</a></span>
              <span><a [routerLink]="['/artists', artist.username]">{{artist.lastname}}</a></span>
            </div>
            <a href="{{artist.video.title}}" class="vid_thumb" (click)="contestService.submitVideoOnPlayer($event, artist.video.id)">
              <img [src]="artist.video.thumbnail" alt="thumb">
            </a>
            <a href="{{artist.video.title}}" (click)="contestService.submitVideoOnPlayer($event, artist.video.id)">
              <div class="thumb-title">{{artist.video.title}}</div>
            </a>
          </li>
        </ul>

        <div class="tab-pagination" *ngIf="artists.length > carousel.clientWidth / carouselItemWidth">
          <div class="pagination">
            <span *ngFor="let item of carouselService.buttonQuantity; let i = index" [class.active]="i === carouselService.activeItem"
              (click)="carouselService.gotoItem(i, carousel.clientWidth, artists.length, carouselItemWidth)"></span>
          </div>
          <button class="control-btn prev" [disabled]="carouselService.left >= 0" (click)="carouselService.prev(carousel.clientWidth, carouselItemWidth)">&#8249;</button>
          <button class="control-btn next" [disabled]="carouselService.left <= (carousel.clientWidth - list.clientWidth)  && carouselService.left != 0"
            (click)="carouselService.next(carousel.clientWidth, carouselItemWidth)">&#8250;</button>
        </div>
      </div>
    </div>


  </div>
</div>