.preview-space{
  position: absolute;
  right: 25px;
  top: 0;
  height: 100%;
}
.add-content {
  height: calc(100% - 64px);
  overflow: hidden;
  overflow-y: auto;
  padding-top: 30px;
}
#artist-profile > .container-fluid{
  height: 100%;
}
#artist-profile * {
  color: #fff;
}
@media (max-width: 991px) {
  #artist-profile {
    padding-left: 0;
    padding-right: 0;
  }
} 
