<div class="overlay-desktop" id="artist-profile" [class.hidepopup]="hidepopup">
  <a href="javascript:;" class="overlay-close" (click)="popupService.hideContentPopup()"></a>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>Add content</h2>
          <p>upload video</p>
        </div>
      </div>
    </div>

    <div class="row add-content">
      <div class="col-md-7">

         <select-video *ngIf="ArtistVideos && ArtistVideos.length > 0" [videos]="ArtistVideos"></select-video>

         <upload-video *ngIf="ArtistProfile" [artist]="ArtistProfile"></upload-video> 

      </div>
        
      <div class="col-md-5 preview-space">

        <video-preview #preview></video-preview>

      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
  
</div>