<div class="upload-video-wrapper">
  <h2>Upload video:</h2>
  <p>Tell us about yourself and enter your social media links</p>
   <form id="upload-video" action="" #uploadVideoForm="ngForm">
    <div> 
      <div class="bio">
        <label for="bio">bio</label>
        <textarea class="" maxlength="500" id="bio" name="bio" [(ngModel)]="uploadData.bio"></textarea>
      </div>
    </div>
    <div>
      <!-- <div *ngFor="let portfolio of User.portfolio">
        <div class="form-group text-left">
          <label attr.for="{{portfolio.type}}">{{portfolio.type}}</label>
          <input type="text" class="form-control" id="{{portfolio.type}}" pattern="{{portfolio.pattern}}.*" placeholder="{{portfolio.pattern}}..."
            name="{{portfolio.type}}" [(ngModel)]="portfolio.link" />
          <div [hidden]="!updateForm.dirty" class="alert alert-danger js-hide">
            {{invalidUrlMassage}}
          </div>
        </div>
      </div> -->
      <div *ngFor="let social of artist.socials let i = index">
        <div *ngIf="!socials[i].link">
          <label attr.for="{{social.type}}">{{social.type}}</label>
          <input type="text" class="form-item" id="{{social.type}}" pattern="{{social.pattern}}.*"
            name="{{social.type}}" [(ngModel)]="social.link" />
           <div class="alert alert-danger alert-message">
            invalidUrlMassage 
          </div> 
        </div>
      </div> 

       <div>
        <div class="">
          <label for="bandcamp">bandcamp</label>
          <input type="text" id="bandcamp" pattern="https://www.bandcamp.com/.*"
            name="bandcamp" />
        </div>
      </div>



    </div>
   </form>
</div>