h2{
  font-size: 22px;
}
.social-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.social-container > h5 {
  margin: 5px 0;
  font-size: 13px;
  width: 100%;
}
.social-container > div{
  width: 48%;
}
#upload-video{
  padding-bottom: 20px;
}
#upload-video h3{
  font-size: 14px;
  position: relative;
  white-space: nowrap;
  padding: 0 0 10px;
  margin: 5px 0 15px;
}
#upload-video h3:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 1px;
  background-image: linear-gradient(to right, #e9008c 0%, #7F0078 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE9008C', endColorstr='#FF7F0078', GradientType=1);
}
.label,
#upload-video label{
  color: #fff;
  font-weight: normal;
  margin-bottom: 5px;
  font-size: 12px;
  padding: 0;
  display: inline-block;
}
#upload-video textarea,
#upload-video input{
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  border: none;
  outline: none;
  background: #36373B;
  max-width: 100%;
}
.alert-message2,
.alert-message{
  /* background-color: #ac0081; */
  overflow: hidden;
  height: 30px;
  transition: all .1s ease-out;
  line-height: 30px;
  padding: 0 10px;
  font-size: 12px;
  white-space: nowrap;
  margin-bottom: 10px;
  background: #252b33; 
  color: #a94442;
}
.alert-message2{
  height: 0;
}
.alert-message2.active{
  height: 30px;
}

.hidden{
  display: none;
}
.alert-message.inactive{
  height: 0px;
  text-align: center;
} 
.form-item.ng-valid ~ .alert-message {
  height: 0px;
}
.upload-video > div{
  margin-bottom: 10px;
}
.select-charity{
  background: #36373B;
  padding: 10px;
  font-size: 14px;
  min-height: 39px;
}
.select-charity .message{
  color: #999;
  opacity: 0;
  animation: show-message .2s linear forwards;
}
a, a:hover, a:focus{
  text-decoration: underline;
  font-weight: normal;
  color: #4285f4;
}
.select-charity span{
  display: inline-block;
  width: 10px;
  height: 20px;
  background: url(assets/svg/icons/arrow-down-wh.svg) no-repeat center;
  background-size: contain;
  float: right;
}
@keyframes show-message {
  from{
    opacity: 0
  }
  to {
    opacity: 1;
  }
}

.select-video {
  background: #36373B;
  position: relative;
}
.select-video > p{
  position: absolute;
  padding: 12px;
  white-space: nowrap;
}
.select-video > input{
  opacity: 0;
}

:host /deep/ .popover-content{
  padding: 0;
  width: 270px;
  height: 140px;
}
.popup-form{
  padding: 9px 14px;
  overflow: hidden;
  width: 100%;
}
#upload-video .popup-form textarea {
  background: #fff;
  color: #000;
  font-weight: normal;
  border: 1px solid #000;
  margin-bottom: 10px;
  resize: none;
  padding: 3px 5px;
}
.popup-form .button-injii{
  padding: 5px;
  float: right;
}
.popup-form span{
  float: none;
  color: black;
  cursor: pointer;
}
.notification{
  color: #000;
  font-size: 14px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
#upload-video > button[type="submit"]{
  background: #890086;
  border: none;
  outline: none;
  width: 320px;
  max-width: 100%;
  text-transform: uppercase;
  padding: 10px;
}
#upload-video fieldset{
  margin-bottom: 20px;
}
.alert span{
  color: #ac0081;
  padding: 0 3px;
  font-weight: bold;
}



