<div class="not-logged-in" id="register-wrap">
  <div id="sign-up" [@registerAnimation]="uiService.joinAsIcon ? 'active' : 'inactive'">
    <h2 class="heading">Sign Up</h2>
    <h6>with your social media</h6>
    <div class="login-wrapper">

      <sign-social></sign-social>

      <h6 class="separator"><span>or join as:</span>
        <div class="line"></div>
      </h6>
      <ul class="role-choose">
        <li class="user" [class.selected]="uiService.userForm">
          <a href="#" (click)="uiService.selectSignUpForm($event, 'user')">
            <div class="thumb">
            </div>
            <span>User</span>
          </a>
        </li>
        <li class="artist" [class.selected]="uiService.artistForm">
          <a href="#" (click)="uiService.selectSignUpForm($event, 'artist')">
            <div class="thumb">
            </div>
            <span>Artist</span>
          </a>
        </li>
        <li class="charity" [class.selected]="uiService.charityForm">
          <a href="#" (click)="uiService.selectSignUpForm($event, 'charity')">
            <div class="thumb">
            </div>
            <span>Charity</span>
          </a>
        </li>
      </ul>

      <!-- USER-FORM -->
      <form [formGroup]="userform" class="signup-form" id="user-signup-form" *ngIf="uiService.userForm && uiService.joinAsIcon"
        [@registerAnimation]="uiService.userForm ? 'active':''" (ngSubmit)="register(userform.value)">
        <div class="form-group">
          <label for="userform-username">Username*</label>
          <input type="text" id="userform-username" class="form-control" formControlName="username" />
        </div>
        <div *ngIf="formErrors.username && uniqueValue === userform.value" class="alert alert-danger">
          {{ formErrors.username }}
        </div>
        <div class="form-group">
          <label for="userform-firstname">First Name*</label>
          <input type="text" id="userform-firstname" class="form-control" formControlName="firstname" />
        </div>
        <div *ngIf="formErrors.firstname && uniqueValue === userform.value" class="alert alert-danger">
          {{ formErrors.firstname }}
        </div>
        <div class="form-group">
          <label for="userform-lastname">Last Name*</label>
          <input type="text" class="form-control" id="userform-lastname" formControlName="lastname" />
        </div>
        <div *ngIf="formErrors.lastname && uniqueValue === userform.value" class="alert alert-danger">
          {{ formErrors.lastname }}
        </div>
        <div class="form-group">
          <label for="userform-email">E-mail*</label>
          <input type="email" class="form-control" id="userform-email" formControlName="email" />
        </div>
        <div *ngIf="formErrors.email && uniqueValue === userform.value" class="alert alert-danger">
          {{ formErrors.email }}
        </div>
        <div class="form-group">
          <label for="userform-psw">Password*</label>
          <input type="password" class="form-control" id="userform-psw" formControlName="password" />
        </div>
        <div *ngIf="formErrors.password && uniqueValue === userform.value" class="alert alert-danger">
          {{ formErrors.password }}
        </div>
        <div class="form-group">
          <label for="userform-repeatpsw">Re-enter Password*</label>
          <input type="password" class="form-control" id="userform-repeatpsw" formControlName="repeatpsw" />
        </div>
        <div *ngIf="userform.hasError('mismatchedPasswords')" class="alert alert-danger">
          Passwords do not match.
        </div>
        <div class="form-group">
          <label for="userform-birth">Year of birth*</label>
          <input type="text" class="form-control" id="userform-birth" formControlName="birth" />
        </div>
        <div *ngIf="formErrors.birth && uniqueValue === userform.value" class="alert alert-danger">
          {{ formErrors.birth }}
        </div>
        <div class="form-group">
          <label for="userform-tel">Phone</label>
          <input type="tel" class="form-control" id="userform-tel" formControlName="tel" />
        </div>
         <div *ngIf="formErrors.tel && uniqueValue === userform.value" class="alert alert-danger">
          {{ formErrors.tel }}
        </div>
        <div class="form-group">
          <label for="userform-city">City</label>
          <input type="text" class="form-control" id="userform-city" formControlName="city" />
        </div>
        <div class="form-group">
          <label for="userform-state">State</label>
          <input type="text" class="form-control" id="userform-state" formControlName="state" />
        </div>
        <div class="form-group">
          <label for="userform-zip">Zip</label>
          <input type="text" class="form-control" id="userform-zip" formControlName="zip" />
        </div>
        <div *ngIf="formErrors.zip && uniqueValue === userform.value" class="alert alert-danger">
          {{ formErrors.zip }}
        </div>
        <div class="form-group">
          <label for="userform-refer">Referral code</label>
          <input type="text" class="form-control" id="userform-refer" formControlName="refer" />
        </div>
        <div class="form-group checkbox-group">
          <input type="checkbox" id="agree1" required />
          <label for="agree1"><span></span>I agree to <b>injii</b> <a href="http://example.com/" (click)="menuService.gotoPage($event)">terms of use</a></label>
        </div>

        <div class="form-group register-group">
          <button type="submit" [disabled]="!userform.valid" class="button-injii">Register</button>
          <div class="load" *ngIf=loading></div>
        </div>
        </form>

        <!-- USER-FORM END-->

        <!-- ARTIST-FORM -->
        <form [formGroup]="artistform" class="signup-form" id="artist-signup-form" *ngIf="uiService.artistForm && uiService.joinAsIcon"
          [@registerAnimation]="uiService.artistForm ? 'active':''" (ngSubmit)="register(artistform.value)">
          <div class="form-group">
            <label for="artistform-artistname">Band/Group/Artists Name*</label>
            <input type="text" class="form-control" id="artistform-artistname" formControlName="band" />
          </div>
          <div *ngIf="formErrors.band && uniqueValue === artistform.value" class="alert alert-danger">
            {{ formErrors.band }}
          </div>
          <div class="form-group">
            <label for="artistform-username">Username*</label>
            <input type="text" class="form-control" id="artistform-username" formControlName="username" />
          </div>
          <div *ngIf="formErrors.username && uniqueValue === artistform.value" class="alert alert-danger">
            {{ formErrors.username }}
          </div>
          <div class="form-group">
            <label for="artistform-firstname">First Name*</label>
            <input type="text" class="form-control" id="artistform-firstname" formControlName="firstname" />
          </div>
          <div *ngIf="formErrors.firstname && uniqueValue === artistform.value" class="alert alert-danger">
            {{ formErrors.firstname }}
          </div>
          <div class="form-group">
            <label for="artistform-lastname">Last Name*</label>
            <input type="text" class="form-control" id="artistform-lastname" formControlName="lastname" />
          </div>
          <div *ngIf="formErrors.lastname && uniqueValue === artistform.value" class="alert alert-danger">
            {{ formErrors.lastname }}
          </div>
          <div class="form-group">
            <label for="artistform-email">E-mail*</label>
            <input type="email" class="form-control" id="artistform-email" formControlName="email" />
          </div>
          <div *ngIf="formErrors.email && uniqueValue === artistform.value" class="alert alert-danger">
            {{ formErrors.email }}
          </div>
          <div class="form-group">
            <label for="artistform-psw">Password*</label>
            <input type="password" class="form-control" id="artistform-psw" formControlName="password" />
          </div>
          <div *ngIf="formErrors.password && uniqueValue === artistform.value" class="alert alert-danger">
            {{ formErrors.password }}
          </div>
          <div class="form-group">
            <label for="artistform-reenterpsw">Re-enter Password*</label>
            <input type="password" class="form-control" id="artistform-reenterpsw" formControlName="repeatpsw" />
          </div>
          <div *ngIf="artistform.hasError('mismatchedPasswords')" class="alert alert-danger">
            Passwords do not match.
          </div>
          <div class="form-group">
            <label for="artistform-birth">Year of birth*</label>
            <input type="text" class="form-control" id="artistform-birth" formControlName="birth" />
          </div>
          <div *ngIf="formErrors.birth && uniqueValue === artistform.value" class="alert alert-danger">
            {{ formErrors.birth }}
          </div>
          <div class="form-group">
            <label for="artistform-phone">Phone*</label>
            <input type="tel" class="form-control" id="artistform-phone" formControlName="tel" />
          </div>
          <div *ngIf="formErrors.tel && uniqueValue === artistform.value" class="alert alert-danger">
            {{ formErrors.tel }}
          </div>
          <div class="form-group">
            <label for="artistform-city">City*</label>
            <input type="text" class="form-control" id="artistform-city" formControlName="city" />
          </div>
          <div *ngIf="formErrors.city && uniqueValue === artistform.value" class="alert alert-danger">
            {{ formErrors.city }}
          </div>
          <div class="form-group">
            <label for="artistform-state">State*</label>
            <input type="text" class="form-control" id="artistform-state" formControlName="state" />
          </div>
          <div *ngIf="formErrors.state && uniqueValue === artistform.value" class="alert alert-danger">
            {{ formErrors.state }}
          </div>
          <div class="form-group">
            <label for="artistform-zip">Zip*</label>
            <input type="text" class="form-control" id="artistform-zip" formControlName="zip" />
          </div>
          <div *ngIf="formErrors.zip && uniqueValue === artistform.value" class="alert alert-danger">
            {{ formErrors.zip }}
          </div>
          <div *ngIf="formErrors.zip && uniqueValue === artistform.value" class="alert alert-danger">
            {{ formErrors.zip }}
          </div>
          <div class="form-group">
            <label for="artistform-refer">Referral code</label>
            <input type="text" class="form-control" id="artistform-refer" formControlName="refer" />
          </div>
          <div class="form-group checkbox-group">
            <input type="checkbox" id="agree2" required />
            <label for="agree2"><span></span>I agree to <b>injii</b> <a href="http://example.com/" (click)="menuService.gotoPage($event)">terms of use</a></label>
          </div>
          <div class="form-group register-group">
            <button type="submit" [disabled]="!artistform.valid" class="button-injii">Register</button>
            <div class="load" *ngIf=loading></div>
          </div>
          </form>
          <!-- ARTIST-FORM END-->

          <!-- CHARITY-FORM-->
          <form [formGroup]="charityform" class="signup-form" id="charity-signup-form" *ngIf="uiService.charityForm && uiService.joinAsIcon"
            [@registerAnimation]="uiService.charityForm ? 'active':''" (ngSubmit)="register(charityform.value)">
            <div class="form-group">
              <label for="charityform-name">Charity Name*</label>
              <input type="text" class="form-control" id="charityform-name" formControlName="charityname" />
            </div>
            <div *ngIf="formErrors.charityname && uniqueValue === charityform.value" class="alert alert-danger">
              {{ formErrors.charityname }}
            </div>
            <div class="form-group">
              <label for="charityform-username">Username*</label>
              <input type="text" class="form-control" id="charityform-username" formControlName="username" />
            </div>
            <div *ngIf="formErrors.username && uniqueValue === charityform.value" class="alert alert-danger">
              {{ formErrors.username }}
            </div>
            <div class="form-group">
              <label for="charityform-firstname">First Name*</label>
              <input type="text" class="form-control" id="charityform-firstname" formControlName="firstname" />
            </div>
            <div *ngIf="formErrors.firstname && uniqueValue === charityform.value" class="alert alert-danger">
              {{ formErrors.firstname }}
            </div>
            <div class="form-group">
              <label for="charityform-lastname">Last Name*</label>
              <input type="text" class="form-control" id="charityform-lastname" formControlName="lastname" />
            </div>
            <div *ngIf="formErrors.lastname && uniqueValue === charityform.value" class="alert alert-danger">
              {{ formErrors.lastname }}
            </div>
            <div class="form-group">
              <label for="charityform-email">E-mail*</label>
              <input type="text" class="form-control" id="charityform-email" formControlName="email" />
            </div>
            <div *ngIf="formErrors.email && uniqueValue === charityform.value" class="alert alert-danger">
              {{ formErrors.email }}
            </div>
            <div class="form-group">
              <label for="charityform-psw">Password*</label>
              <input type="password" class="form-control" id="charityform-psw" formControlName="password" />
            </div>
            <div *ngIf="formErrors.password && uniqueValue === charityform.value" class="alert alert-danger">
              {{ formErrors.password }}
            </div>
            <div class="form-group">
              <label for="charityform-reenterpsw">Re-enter Password*</label>
              <input type="password" class="form-control" id="charityform-reenterpsw" formControlName="repeatpsw" />
            </div>
            <div *ngIf="charityform.hasError('mismatchedPasswords')" class="alert alert-danger">
              Passwords do not match.
            </div>
            <div class="form-group">
              <label for="charityform-phone">Phone*</label>
              <input type="tel" class="form-control" id="charityform-phone" formControlName="tel" />
            </div>
            <div *ngIf="formErrors.tel && uniqueValue === charityform.value" class="alert alert-danger">
              {{ formErrors.tel }}
            </div>
            <div class="form-group">
              <label for="charityform-address">Address*</label>
              <input type="text" class="form-control" id="charityform-address" formControlName="address" />
            </div>
            <div *ngIf="formErrors.address && uniqueValue === charityform.value" class="alert alert-danger">
              {{ formErrors.address }}
            </div>
            <div class="form-group">
              <label for="charityform-city">City*</label>
              <input type="text" class="form-control" id="charityform-city" formControlName="city" />
            </div>
            <div *ngIf="formErrors.city && uniqueValue === charityform.value" class="alert alert-danger">
              {{ formErrors.city }}
            </div>
            <div class="form-group">
              <label for="charityform-state">State*</label>
              <input type="text" class="form-control" id="charityform-state" formControlName="state" />
            </div>
            <div *ngIf="formErrors.state && uniqueValue === charityform.value" class="alert alert-danger">
              {{ formErrors.state }}
            </div>
            <div class="form-group">
              <label for="charityform-zip">Zip*</label>
              <input type="text" class="form-control" id="charityform-zip" formControlName="zip" />
            </div>
            <div *ngIf="formErrors.zip && uniqueValue === charityform.value" class="alert alert-danger">
              {{ formErrors.zip }}
            </div>
            <div class="form-group">
              <label for="charityform-refer">Referral code</label>
              <input type="text" class="form-control" id="charityform-refer" formControlName="refer" />
            </div>
            <div class="form-group checkbox-group">
              <input type="checkbox" id="agree3" required />
              <label for="agree3"><span></span>I agree to <b>injii</b> <a href="http://example.com/" (click)="menuService.gotoPage($event)">terms of use</a></label>
            </div>
            <div class="form-group register-group">
              <button type="submit" [disabled]="!charityform.valid" class="button-injii">Register</button>
              <div class="load" *ngIf=loading></div>
            </div>
            </form>

    </div>
    <div class="join-injii">
      <h6 class="separator"><span>are you with Injii?</span>
        <div class="line"></div>
      </h6>
      <button class="button-injii" (click)="uiService.selectAs()">Sign in</button>
    </div>
  </div>