#sign-menu{
  padding-bottom: 0 !important;
  overflow-y: auto;
}
.sign-menu-open{
  right: -15px;
}
#sign-menu>ul{
    padding-bottom: 200px;
    position: relative;
}
.profile > div{
  position: absolute;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 110%;
  padding: 0;
  padding-bottom: 200px;
}
.profile > .my-transition{
  left: 0%;
  opacity: 1;
  transition: left .3s ease-out;
}

