<div id="sign-social">
  <ul class="social-icons social-login" [class.active]="uiService.userForm || !uiService.joinAsIcon">
    <li>
      <a href="javascript:;" (click)="googleCall()"></a>
      <img src="assets/svg/icons/google-plus.svg" alt="Google" />
    </li>
    <li>
      <a href="javascript:;" (click)="facebookCall()"></a>
      <img src="assets/svg/icons/facebook-logo-button.svg" alt="Facebook" />
    </li>
    <li>
      <a href="javascript:;" (click)="twitterService.getPinForTwitter(pop)" 
        [popover]="popTemplate"
        popoverTitle="Your PIN-code"
        #pop="bs-popover"
        triggers=""
        placement="bottom"></a>
      <img src="assets/svg/icons/twitter-logo-button.svg" alt="Twitter" />
    </li>
  </ul>
  <template #popTemplate>
    <form (ngSubmit)="sendPinForTwitter(pin.value, pop)" novalidate>
      <input type="text" class="pin-field" #pin />
      <button type="submit" class="button-injii">send</button>
    </form>   
  <span class="pin-close" (click)="pop.hide()"></span>
  </template>
</div>