<div class="shedule-bar-wrapper" [class.congratulation]="!showShedule">
  <div *ngIf="showShedule">
    <h3>Select the available time</h3>
    <h4>{{response.date + ' ' + response.time + ' (' + response.timezone + ')'}}</h4>
    <hr />

    <div class="shedule-container">
      <table class="shedule-table">  
        <tr *ngFor="let tr of table">
          <td *ngFor="let td of tr" [class.active]="td != null">
            <button class="btn" [disabled]="td === null" (click)="onSelectedTime(td)">
              {{td != null ? td.startTime : ' '}}
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="spinner" *ngIf="loading">
    <div class="loader"></div>
  </div> 
  <div *ngIf="!showShedule">
    <h3>{{message}}</h3>
  </div>
</div>


