.shedule-bar-wrapper{
  height: 0px;
  background: rgba(8, 10, 12, 0.6);
  padding: 0 10px;
  overflow: hidden;
  transition: height .3s ease-out;
  position: relative;
}
:host-context(.select-date-active)  .shedule-bar-wrapper{
    height: 460px;
}
.shedule-container{
  padding: 9px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
}
h3{
  padding-top: 5px;
}
h4{
  font-size: 17px;
  font-style: italic;
  white-space: nowrap;
  padding-top: 5px;
  line-height: 20px;
}
hr{
    margin: 3px 0 10px;
    overflow: hidden;
}
.shedule-table { 
  width: 100%;
  border-spacing: 5px;
  border-collapse: separate;
}
td .btn{
   font-size: 12px;
   border-radius: 3px;
   color: #333;
   height: 30px;
   padding: 0;
   width: 100%;
   outline: none;
   background: #fff;
   border-color: #adadad;
}
td.active .btn:hover{
  background-color: #e6e6e6;
  border-color: #adadad;
}

@media(max-width: 991px) {
  .shedule-container,
  .shedule-bar-wrapper{
    padding-left: 0;
    padding-right: 0;
    border: none;
  }
  h3{
    font-size: 16px;
    padding-top: 15px;
  }
  h4{
    white-space: normal;
    line-height: 22px;
    font-size: 14px;
    padding-top: 10px;
  }
  hr{
    margin-bottom: 0;
  }
  .shedule-table { 
    border-collapse: collapse;
  }
  td .btn{
   font-size: 9px;
  }
  :host-context(.select-date-active)  .shedule-bar-wrapper{
    height: 400px;
  }
}
