<div class="overlay-desktop" id="search-list" [class.hidepopup]="hidepopup">
  <a href="javascript:;" class="overlay-close" (click)="popupService.hideContentPopup()">
  </a>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>Search</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="cat-list">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="search-block">
            <form id="search-form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search..." #searchField class="form-control" [value]="searchService.filter"
                  (keyup)="search(searchField.value)" (keydown.enter)=false />
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row list-row">
        <div class="col-md-12 scrollable-y">
          <div class="the-list">

            <sd-list [Items]="items | async"></sd-list>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>