<div class="one_message">
  <a href="{{item.title}}" (click)="submitVideoOnMainPlayer($event, item.id)">
    <div class="thumb_gutter" [style.background-image]="'url('+item.preview+')'"></div>
  </a>
  <div class="message_content">
    <div class="time_author">
      <a href="/artists/{{item.artist.username}}" class="author" (click)="gotoProfile(item.artist.username, '/artists', $event)">{{item.artist.firstname}} {{item.artist.lastname}}</a>
      <span class="time">{{item.date}}</span>
    </div>
    <div><a href="{{item.title}}" (click)="submitVideoOnMainPlayer($event, item.id)">{{item.title}}</a></div>
    <div class="viewers"><a href="javascript:;" (click)="gotoSharing(item)">{{item.viewers}}</a></div>
  </div>
  <div class="donate_info">
    <div><a href="/charity/{{item.charity.username}}" (click)="gotoProfile(item.charity.username, '/charity', $event)">{{item.charity.charityname}}</a></div>
    <div><a href="javascript:;" (click)="gotoDonate(item)">&#36;{{item.donations}}</a></div>
  </div>
  <div class="sponsor"><a href="javascript:;" (click)="gotoSponsor(item.sponsor)">{{item.sponsor.name}}</a></div>
</div>