#bottom-nav > ul > li:hover{
  background: #840079;
}
/*#bottom-nav > ul > li.donate > a{
  font-size: 30px;
}
#bottom-nav > ul > li.donate > a img{
  max-width: 30px;
}
#bottom-nav > ul > li.donate{
  width: 30%;
}*/
.artist-thumb{
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.artist-thumb > a,
.donate-btn{
  position: absolute;
  display: block; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 66px;
}
.actions-wrap > p{
  padding-top: 10px;
}
.actions{
  padding: 10px 0 15px;
}
.actions span{
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  vertical-align: top;
}
.actions .active{
  color: #e9008c;
}
.support-thumb{
  display: table-cell;
  width: 40px;
  height: 40px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  background-image: url(../assets/thumb-place.jpg); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.top-supporters h5{
  line-height: 1.4;
}
@media (max-width: 991px){
  .donate .mobile-title{
    margin-bottom: 35px;
  }
  #bottom-nav > ul > li:hover{
    background: none;
  }
}
