:host /deep/ #preview{
  background: none;
}
.preview-wrapper{
  height: calc(100% - 94px);
  top: 94px;
  position: relative;
  display: flex;
  align-items: center;
}
.preview-block{ 
  height: 450px;
  width: 100%;
  background: rgba(0, 0, 0, .25);
  position: relative;
}
.preview-block > div {
  height: 450px;
}
h2{
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 450px;
  text-align: center;
}
@media (max-width: 991px){
  .preview-block{
    margin-top: 0;
    height: auto;
    min-height: 200px;
  }
  .preview-block > div{
    height: 160px;
  }
  h2{
    line-height: 150px;
    font-size: 22px;
  }
  .preview-wrapper{
    height: auto;
    top: 0;
  }
}
