.overlay-desktop{
  transition: opacity .3s linear;
  opacity: 1;
  visibility: visible;
}
.overlay-desktop.hidepopup{
  transition: opacity .3s ease-in, visibility .1s linear .3s;
  opacity: 0;
  visibility: hidden;
}
.thumb{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.short-bio > p:after{
  content: '...';
}
.sorter-block ul li a{
  text-decoration: none;
}
.sorter-block ul li.selected a{
  text-decoration: underline;
}
#artists-list .rating{
  margin-right: 10px;
  vertical-align: baseline;
}
@media (max-width: 991px){
  .overlay-desktop .the-list .list-item .thumb-wrap .thumb {
    width: 100px;
    height: 100px;
  }
  .overlay-desktop .sorter-block ul li a{
    padding-right: 10px;
  }
}
