.select-video-wrapper{
  margin-bottom: 40px;
}
h2{
  font-size: 22px;
}
p{
  font-size: 13px;
  margin-bottom: 15px;
}
ul{
  list-style-type: none;
}
li{
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;
}
.video{
  padding: 10px 3%;
  cursor: pointer;
  transition: all .1s linear;
  overflow: hidden;
  background: #252b33;
}
.video:hover{
    background: #1a1f24;
}
.select-date-active .video{
  background-color: rgba(132, 0, 121, 1); 
}

.date{
  float: right;
  color: #999;
  font-size: 12px;
  font-weight: bold;
  width: 33%;
  text-align: right; 
}
.title{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
  width: 67%;
}
.spinner{
  width: 100%;
  height: 460px;
}
.loader{
  position: relative;
  left: 50%;
  top: 50%;
  margin-top: -22px;
  margin-left: -22px;
  transform: translate(-50%, -50%);
}
.message{
  height: 0px;
  transition: all .2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(8, 10, 12, 0.6);
  overflow: hidden;
}
.message p{
  font-size: 16px;
  padding: 20px;
}
.select-date-active .message{
  height: 200px; 
  animation: height-transition .3s ease-out;
}
@keyframes height-transition {
  from{
    height: 460px;
  }
  to{
    height: 200px;
  }
}
@media(max-width: 991px){
  h2{
    font-size: 16px;
  }
  li{
    width: 270px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0; 
    overflow: visible;
  }
  .title,
  .date{
    float: none;
    width: 100%;
    white-space: normal;
    text-align: left;
  }
  .title{
    margin-bottom: 10px;
  }
}
