<!DOCTYPE html>
<html lang="en">

<head>
  <base href="<%= APP_BASE %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    <%= APP_TITLE %>
  </title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link rel="icon" href="<%= APP_BASE %>assets/favicon/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="assets/favicon/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:site_name" content="injii" />
  <meta property="og:url" content="http://opus.injii.com:5555" />
  <meta property="og:title" content="injii: social good broadcast" />
  <meta property="og:image" content="http://opus.injii.com:5555/assets/symbol_with_logo/symbol_logo_original.jpg" />
  <meta property="og:image:width" content="1300" />
  <meta property="og:image:height" content="1300" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:video" content="https://s3.amazonaws.com/chronoadvertisement/2016/579b8ff0249ca_1469812720.mp4" />
  <meta property="og:video:secure_url" content="https://s3.amazonaws.com/chronoadvertisement/2016/57a3affc27efd_1470345212.mp4" />
  <meta property="og:video:type" content="video/mp4" />
  <meta property="og:video:width" content="1920" />
  <meta property="og:video:height" content="1080" />
  <meta property="og:description" content="injii is global outreach through one platform to collaboratively raise awareness and funding for great charitable organizations. Our platform broadcasts phenomenal artist video content to help support great causes. we want to revolutionize how media content is delivered; we want to make it personal, we want to make a difference." />

  <!-- inject:css -->
  <!-- endinject -->
</head>

<body>

  <sd-app>Loading...</sd-app>

  <script defer>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', '<%= GOOGLE_ANALYTICS_ID %>', 'auto');
    ga('send', 'pageview');
  </script>

  <script>
    // Fixes undefined module function in SystemJS bundle
    function module() { }
  </script>

  <!-- shims:js -->
  
  <script src="/jwplayer/jwplayer.js"></script>
  <script>
    jwplayer.key = "HBID7mOt6+FwhqIWVt9cedp+pxl/SM45Q0mWmzzN7w7FDO5X";
  </script>
  <script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js" async></script>
  <script src="https://apis.google.com/js/platform.js" async></script>
  <script type="text/javascript" src="https://www.wepay.com/min/js/iframe.wepay.js" async></script>
  <!-- endinject -->

  <% if (BUILD_TYPE === 'dev') { %>
    <script src="<%= APP_BASE %>app/system-config.js"></script>
    <% } %>

      <!-- libs:js -->
      <!-- endinject -->

      <!-- inject:js -->
      <!-- remove when production -->
      <script src="/src/client/jwplayer/jwplayer.js"></script>
      <script>
        jwplayer.key = "HBID7mOt6+FwhqIWVt9cedp+pxl/SM45Q0mWmzzN7w7FDO5X";
      </script>
      <script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js" async></script>
      <script src="https://apis.google.com/js/platform.js" async></script>
      <script type="text/javascript" src="https://www.wepay.com/min/js/iframe.wepay.js" async></script>
      <!-- endinject -->

      <% if (BUILD_TYPE === 'dev') { %>
        <script>
          System.import('<%= BOOTSTRAP_MODULE %>')
            .catch(function (e) {
              console.error(e.stack || e,
                'Not expecting this error? Report it at https://github.com/mgechev/angular-seed/issues');
            });
        </script>
        <% } %>

</body>

</html>